body {
    margin :0px;
    font-family: Arial;
}

/*------------------------------ header --------------------------------*/
header {
    width: 100%;
    background-image:linear-gradient(#e74c3c, #c14b3b);
    color: #f0f0f0;
}
header img{
    height: 50px;
}

/*------------------------------ wrapper --------------------------------*/


/*------------------------------ asideBloc --------------------------------*/



/*------------------------------ content --------------------------------*/