body {
    margin :0px;
    font-family: Arial;
}

/* -----------------------------nav-----------------------------------------------*/
nav {
    width: 100%;
    background-image:linear-gradient(#e74c3c, #c14b3b);
    position: fixed;
    top: 0px;
}
nav ul {
    list-style: none;
    margin : 0px;
    padding: 0px;
}
nav ul li {
    display : inline-block;
    vertical-align: top;
    padding: 0px;

}
.liImg {
    height : 70px;
}
nav ul li img {
    height : 60px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 15px;

}
nav ul a li {
    font-size: 20px;
    color: #f0f0f0;
    height : 45px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
nav ul a li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
/* -----------------------------Wrapper----------------------------------------------*/
#wrapper {
    width: 100%;
    padding-top: 100px;
    background-image:linear-gradient(#e3e7e8, #c5c9ca);
    text-align: center;
}
.blocWrapper {
    display: inline-block;
}
#wrapper article {
    width: 700px;
    background-color: #f0f4f5;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blocApparts {
    display: inline-block;
}
.insideBlocImg {
    width: 300px;
}
.insideBlocImg img {
    width: 100%;
}
.insideBlocDesc {
    width: 390px;
}

/* -----------------------------Footer-----------------------------------------------*/
#footer {
    width: 100%;
    text-align: center;
    background-image:linear-gradient(#bdc3c7, #a4aaae);
    color: #2c3e50;
}
#footer .blocFooter {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#footer .blocFooter a i{
    font-size: 35px;
    color: #2c3e50;
}
#footer .blocFooter a i:hover{
    color: #56768a;

}
/* -----------------------------Copyright-----------------------------------------------*/
#copyright {
    text-align: center;
    width: 100%;
    height: 60px;
    background-image:linear-gradient(#7f8c8d, #717e7f);
    color : #ecf0f1;
}
#copyright p {
    padding-top: 20px;
    margin: 0px;
}