body {
    margin :0px;
    font-family: Arial;
}

/* -----------------------------nav-----------------------------------------------*/
nav {
    width: 100%;
    background-image:linear-gradient(#e74c3c, #c14b3b);
    position: fixed;
    top: 0px;
}
nav ul {
    list-style: none;
    margin : 0px;
    padding: 0px;
}
@media screen and (max-width: 560px) {
    nav ul li {
        padding: 0px;
        text-decoration: none;
    }
    #menuLink {
        display: none;
    }
    #menuLink a {
        text-decoration: none;
        text-align: center;
    }
    #toogle {
        color: #e2e6e7;
        margin-right: 30px;
        font-size: 30px;
        vertical-align: top;
        margin-top: 15px;
        border-style: solid;
        border-width: 2px;
        border-color: #e2e6e7;
        border-radius: 6px;
        padding: 5px;
        float: right;
        background-color: rgba(0,0,0,0.2);
    }
    #toogle:hover {
        background-color: rgba(0,0,0,0.4);
    }

}
@media screen and (min-width: 561px) {
    nav ul li {
        display : inline-block;
        vertical-align: top;
        padding: 0px;

    }
    #menuLink {
        display: inline-block;
    }
    #toogle {
        display: none;
    }
}

.liImg {
    height : 70px;
}
nav ul li img {
    height : 60px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 15px;

}
nav ul a li {
    font-size: 20px;
    color: #f0f0f0;
    height : 45px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
nav ul a li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
    /* -----------------------------Home Search (header)-----------------------------------------------*/
header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/slide.jpg");
    background-position: center;
    text-align: center;
}
@media screen and (max-width: 560px) {
    header form select {
        width: 80vw;
        height: 50px;
    }
}
@media screen and (min-width: 561px) {
    header form select {
        width: 370px;
        height: 50px;
    }
}
header form {
    padding-top: 50vh;
}


#Button {
    -webkit-animation: none;
    border: none;
    font-size: 15px;
    height : 50px;
    width: 50px;
    background-image:linear-gradient(#e74c3c, #c14b3b);
    color: #ecf0f1;
    border-radius: 5px;
}


/* -----------------------------HomeInf -----------------------------------------------*/
#homeInf {
    width: 100%;
    text-align: center;
    background-color: white;
    color: #2c3e50;
}
#homeInf .blocInf {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;

}
#homeInf .blocInf ul {
    list-style: none;
    padding: 0px;
}
#homeInf .blocInf ul a {
    text-decoration: none;
    color: #2c3e50;
}
#homeInf .blocInf ul li {
    padding-bottom: 15px;
}
#homeInf .blocInf ul li:hover {
    color: #56768a;
}

/* -----------------------------Footer-----------------------------------------------*/
#footer {
    width: 100%;
    text-align: center;
    background-color: rgb(240,240,240);
    color: #2c3e50;
}
#footer .blocFooter {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#footer .blocFooter a i{
    font-size: 35px;
    color: #2c3e50;
}
#footer .blocFooter a i:hover{
    color: #56768a;

}
/* -----------------------------Copyright-----------------------------------------------*/
#copyright {
    text-align: center;
    width: 100%;
    height: 60px;
    background-image:linear-gradient(#7f8c8d, #717e7f);
    color : #ecf0f1;
}
#copyright p {
    padding-top: 20px;
    margin: 0px;
}
