html {
    font-family: Arial;
}
body {
    margin: 0px;
    background: url("../img/slide.png");
}
#controlBar{
    height: 30px;
    background-color: #79100f;
}
header {
    height: 170px;
    background-color: #ab2e28;
    text-align: center;
}
@media screen and (min-width: 1781px) {
    #slider {
        height : 270px;
    }
}
@media screen and (max-width: 1780px) {
    #slider {
        height : 70px;
    }
}
#slider {
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center;
}
nav {
    height : 70px;
    background-color: rgba(27, 27, 27, 0.89);
    text-align: center;
    z-index: 100;
}
#menu {
    margin: 0px;
    list-style: none;
    height : 100%;
    padding: 0px;
}
@media screen and (min-width: 671px) {
    #responsiveNav {
        display: none;
    }
}

#menu a{
    display : inline-block;
    text-decoration: none;
    color : white;
    height : 100%;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 670px) {
    #menu a {
        display : none;
    }
    #responsiveNav {
        background: url("../img/rn.PNG");
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        border-width: 2px;
        border-color : white;
        border-style : solid;
        border-radius: 10px;
    }

}
.on {
    background-color: rgba(27, 27, 27, 0.89);
    margin: 0px;
}
.on ul {
    margin: 0px;
    text-align: center;
    list-style:  none;
    padding: 0px;
}
.on a {
    text-decoration: none;
    color: white;
}
.on li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.off {
    display: none;
}
#menu a:hover {
    background-color: rgba(171, 46, 40, 0.89);
}
#menu li {
    padding-top : 25px;
}
section {
    margin: 0px;
    height: 100%;

}
@media screen and (max-width: 1780px) {
    section {
        text-align: center;
    }
}
@media screen and (max-width: 1085px) {
    section {
        background-color: #fafafa;
    }
}
.content {
    display : inline-block;
    vertical-align: top;
}
aside {
    padding-top : 30px;
    padding-bottom : 30px;
}
aside ul {
    margin : 0px;
    list-style: none;
    border-width: 1px;
    border-color : #1b1b1b;
    border-style : solid;
    border-radius: 2px;
    padding: 0px;

}
aside a {
    text-decoration: none;
    color: #1b1b1b;
}
aside li:hover {
    background-color: #ab2e28;
    color: white;
}
aside li {
    background-color: white;
    padding: 15px;
}

article {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 0px;
    background-color: white;
    border-width: 1px;
    border-color : #b3b3b3;
    border-style : solid;
    border-radius: 2px;
}
@media screen and (max-width: 671px) {
    article {
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
    }
    .details {
        width: 100%;
    }
    #wrapper {
        width: 100%;
        padding: 0px;
        margin-left: 0%;
        -webkit-appearance: none;
    }
}
@media screen and (min-width: 671px) {
    .home {
        height: 250px;
    }
    .details {
        height: 500px;
        width: 300px;
    }
    #wrapper {
        padding : 15px;
        width: 80%;
        margin-left:2%;
    }
}

article h3{
    margin: 0px;
    padding : 5px;
    background-color: #ab2e28;
    color: white;
}
article h2 {
    font-size:20px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom-color : #b3b3b3;
    border-bottom-style : solid;
    border-bottom-width: 1px;
}
article p {
    margin: 15px;
}
article td{
    text-align: center;
}
article th {
    border-bottom-width: 1px;
    border-bottom-color : #1b1b1b;
    border-bottom-style : solid;
}
article img {
    width: 100%;
    margin-bottom: -5px;
}
article h4 {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}
article h5 {
    padding-left: 15px;
    margin: 0px;
    font-size: 17px;
}
article h6 {
    padding-left: 15px;
    font-size: 12px;
    margin: 0px;
}
article ul {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 5px;
}
@media screen and (min-width: 671px) {
    .rt {
        width: 270px;
    }
}
@media screen and (max-width: 670px) {
    .rt {
        margin-right: 15px;
    }
}
.rt {
    margin-left: 15px;
    bottom: 0px;
    background-color: rgb(227,227,227);
}
footer {
}
#footer{
    background-color: white;
    text-align: center;
    height : 150px;
    border-top-width: 2px;
    border-color : #ab2e28;
    border-top-style : solid;
}
.footPart {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
}
@media screen and (max-width: 670px) {
    .footPart {
        width: 45%;
    }
}
.footPart ul {
    list-style: none;
    padding: 0px;
}
#coor {
    border-right-width: 1px;
    border-color : #1b1b1b;
    border-right-style : solid;
}
@media screen and (max-width: 670px) {
    #coor li {
        margin-bottom: 4px;
    }
    #coor h3 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}
#follow ul li a{
    color: #1b1b1b;
    font-size: 35px;
}
#follow ul li a:hover {
    color: #ab2e28;
}
#copyr {
    background-color: #1b1b1b;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    color : white;
}
#contact {
    text-align: left;
}
#mailing {
    margin: auto;
    width: 100%;
    max-width: 601px;
    padding-top: 20px;
}

@media screen and (max-width: 670px) {
    #mailing {
        width: 80%;
        margin-left: 7%;
    }
}
.area {
    width: 95%;
    max-width: 600px;
    min-height : 20px;
    border-radius: 5px;
    padding-left : 5px;
    border : none;
}
.areawrong {
    width: 95%;
    max-width: 600px;
    min-height : 20px;
    border-radius: 5px;
    padding-left : 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff2c2a;
}
.areaB {
    width: 95%;
    max-width: 600px;
    height: 175px;
    max-height: 175px;
    border-radius: 5px;
    padding-left : 5px;
    border : none;
}
.areaBwrong {
    width: 95%;
    max-width: 600px;
    height: 175px;
    max-height: 175px;
    border-radius: 5px;
    padding-left : 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff2c2a;
}
#send {
    background-color: #ab2e28;
    border-radius: 5px;
    height : 45px;
    width : 70px;
    border : none;
    color: white;
    -webkit-appearance: none;
    -moz-animation: none;

}
#send:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #79100f;
}
.label {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color : #1b1b1b;
    font-size: 15px;
}
.capter {
    margin-top: 0px;
    -webkit-appearance: none;
    -moz-animation: none;
}
.verifon {
    width: 100%;
    text-align: center;
    background-color: #c1fabe;
    min-height: 100px;

}
.verifon p {
    margin: 0px;
    padding-top: 30px;
}
.verifon img {
    margin-bottom: -10px;
}
.verifoff {
    display: none;
}
.failon {
    width: 100%;
    text-align: center;
    background-color: #fa9b9b;
    min-height: 100px;

}
.failon p {
    margin: 0px;
    padding-top: 30px;
}
.failon img {
    margin-bottom: -10px;
}
.failoff {
    display: none;
}
.wrongon {
    width: 100%;
    text-align: center;
    background-color: #fa9b9b;
    min-height: 100px;

}
.wrongon p {
    margin: 0px;
    padding-top: 30px;
}
.wrongon img {
    margin-bottom: -10px;
}
.wrongoff {
    display: none;
}



